<table class="table table-hover">
  <thead>
    <th>Add</th>
    <th>Athlete Name</th>
    <th>Class Level</th>
    <th>Age Level</th>
    <th>Age</th>
  </thead>
  <tbody>
    <% athletes.each do |athlete| %>
      <tr>
        <td>
          <%= check_box_tag "tournament[athlete_ids][]", athlete.id, tournament.athletes.include?(athlete) %>
        </td>
        <td> <%= athlete.full_name %> </td>
        <td> <%= athlete.class_level %> </td>
        <td> <%= athlete.age_level %> </td>
        <td> <%= athlete.age %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
