<div class="page-header">
  <%= link_to new_tournament_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Tournament
  <% end %>
  <h1>Tournaments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Venue</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Event date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tournaments) do |tournament| %>
            <td><%= link_to tournament.name, tournament_athletes_path(tournament) %></td>
            <td><%= tournament.venue %></td>
            <td><%= tournament.address %></td>
            <td><%= tournament.city %></td>
            <td><%= tournament.state %></td>
            <td><%= tournament.zip %></td>
            <td><%= tournament.event_date %></td>
            <td><%= link_to 'Show', tournament %></td>
            <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
            <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
