<div class="page-header">
  <%= link_to tournaments_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_tournament_path(@tournament), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show tournament</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @tournament.name %></dd>

  <dt>Venue:</dt>
  <dd><%= @tournament.venue %></dd>

  <dt>Address:</dt>
  <dd><%= @tournament.address %></dd>

  <dt>City:</dt>
  <dd><%= @tournament.city %></dd>

  <dt>State:</dt>
  <dd><%= @tournament.state %></dd>

  <dt>Zip:</dt>
  <dd><%= @tournament.zip %></dd>

  <dt>Event date:</dt>
  <dd><%= @tournament.event_date %></dd>

</dl>

<h4>Athletes</h4>
