<div class="page-header">
  <%= link_to new_event_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Event
  <% end %>
  <h1><%= tournament_name %> <%= athlete_name %> Events</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Place</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @event_collection.events) do |event| %>
        <td><%= event.type.underscore.humanize %></td>
        <td><%= best_in_place event, :score, as: :input, pattern: "[0-9]*" %></td>
        <td><%= event.place %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <% end %>
    </tbody>
    <tfoot>
      <td>Overall</td>
      <td id="overall-score"><%= @event_collection.overall_score %></td>
      <td><%= @event_collection.overall_place %></td>
      <td></td>
    </tfoot>
  </table>
</div>
