<div class="page-header">
  <h1>
    <%= athlete.full_name %> <br/>
    <%= meet.name %> Scores
  </h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Event</th>
        <th>Score</th>
        <th>Place</th>
        <% meet_names.each do |meet_name| %>
           <% if meet_name != meet.name %>
             <th><%= meet_name[0..2] %></th>
           <% end %>
        <% end %>
        <th>Personal Best</th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, athletes_events_meets) do |athletes_events_meet| %>
        <td>
          <%= link_to(athletes_events_meet.event.name,
                      athlete_event_meets_path(athlete,
                                               athletes_events_meet.event)) %>
        </td>
        <td><%= best_in_place athletes_events_meet, :score, as: :input, html_attrs: { style: "width: 50px;" } %></td>
        <td><%= best_in_place athletes_events_meet, :place, as: :input, html_attrs: { pattern: "[0-9]*", style: "width: 50px;" } %></td>
        <% meet_names.each do |meet_name| %>
          <% if meet_name != meet.name %>
            <% @athletes_events_meet_collection.meets(athletes_events_meet.event, meet_name, athlete).each do |event_meet| %>
              <td><%= event_meet.score %></td>
            <% end %>
          <% end %>
        <% end %>
        <td><%= athlete.personal_best athletes_events_meet.event %></td>
      <% end %>
    </tbody>
    <tfoot>
      <td>Overall</td>
      <td id="overall-score"><%= overall_score %></td>
      <td><%= best_in_place @athletes_events_meet_collection.athletes_meet, :place, as: :input, html_attrs: { pattern: "[0-9]*", style: "width: 50px;" } %></td>
      <% meet_names.each { |_| %>
        <td></td>
      <% } %>
      <td><%= @athletes_events_meet_collection.personal_best_overall_score %></td>
    </tfoot>
  </table>
</div>
